table {
    border-collapse: collapse;
    border-spacing: 0px;
    width: 500px;
}
td, th {
    border-spacing: 0px;
    border: 1px solid black;
    padding: 15px;
    border-collapse: collapse;
}
th {
    background-color: AntiqueWhite;
}
a.addref {
    margin-top: 20px;
    font-size: 120%;
}